
header .logo {
  display: none;
}
nav.main ul {
  display:grid;
  grid-template-columns: repeat(5,auto);
  background-color: black;
  justify-content: left;
  grid-gap: 5px;
  padding: 5px;
}
nav.main a {
  color:lightGray;
  text-decoration: none;
  padding: 5px;
  font-size: 0.9em;
  font-family: Arial, sans-serif;
  font-weight: 100;
}
nav.main li:first-child a {
  color:white;
  font-weight: bold;

}
nav.main a:hover {
  color:white;
  font-weight: bold;
}
.conference {
  background-color: white;
}
.conference nav {
  display:grid;
  grid-template-columns: 1fr auto;
}
.conference nav ul {
  display:grid;
  grid-template-columns: repeat(7, auto);
  text-transform: uppercase;

  justify-content: left;
  grid-gap: 10px;
  padding: 12px;

}



.conference nav ul a{

  color: Gray;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 0.87em;
  white-space: nowrap;
}
.conference-details {
  border-left: 0.5px solid lightGray;
  padding: 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: dimGray;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 6px;
  align-items: center;
  align-content: center;
  white-space: nowrap;

}
.conference-details time {
  font-size: 1.2em;
  color:red;
  font-family: "Comic Sans MS", Arial, sans-serif;
  padding-bottom:3.5px;

}
.conference-details button {
  padding: 7px;
  font-size: 0.8em;
  background-color: Teal;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;

}
.conference .search-icon img {
  transform: rotateY(180deg);
  opacity: 0.4;
}
.conference .conf-logo {
  height: 10px;

}
.speakers {
  background-color: orange;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  padding: 8px 0 8px 16px;
}
/*articles */

.main-articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 375px;
  padding: 5px;
  grid-gap: 8px;
}

.big-article {
  background: url("images/new old.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: 1 / 3;
  position: relative;
}
.big-article div.background {
  background-color: #FF4500;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
.big-article img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50%;
  z-index: 10;
]}
.small-article {
  background-size: cover;
  background-repeat: no-repeat;
}
.creative {
  background-image: url("images/creative.png");

}
.insights {
  background-image: url("images/insights.jpg");
}
.news {
  padding: 40px;
}
h1 {
  color: red;
  font-size: 1.7em;
  font-family: arial, sans-serif;
  padding-bottom:10px;
  font-weight: bold;

}
.news-grid {
  display:grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.news-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.news-item .news-link {
  text-decoration: none;
  color:black;
  font-family: arial,sans-serif;;
  font-weight: bold;
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.news-item .author, .news-item time, .news-item span {
  color: Gray;
  font-size: 0.8em;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
/* Funding */
.funding {
  padding: 40px;

}
.funding header {
  display: grid;
  grid-template-columns: 1fr auto;
  white-space: nowrap;
  padding-bottom: 15px;
  align-items: center;
}
.funding header a {
  color: red;
  text-decoration: none;

}
.funding header a:hover {
  color: black;

}
.funding ul {
  display: grid;
  grid-template-columns: auto auto auto;

}
.funding header li {
  border-left: 0.5px solid red;
  padding: 0 7px;

}
.funding header li:first-of-type {
  border-left: none;
}


.funder-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.funder > a  {
  position: relative;

}
.funder > a img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.funder > a {
  background-color: mistyRose;
  padding-left: 80px;
  display: block;
  height: 110px;
  text-decoration: none;

}
.funder > a h2 {
  background-color: red;
  color: white;
  padding: 10px 0 10px 80px;
   margin-left: -80px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.05em;
}
.amount {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Comic Sans MS", Arial,sans-serif;
  font-size: 1.0em;
  color: black;
}
.type {
  display: block;
  text-transform: uppercase;
  color: gray;
  font-size: 0.8em;
  margin-top: 4px;
}
.funder .info a {
  text-decoration: none;
  color: DimGray;
  display: block;
  margin: 7px;
  font-size: 0.75em;
  font-family: arial, sans-serif;
}
.funder .info a:hover {
  color: black;
}

.funding-article {
  cursor: pointer;
  color: dimGray;
  padding: 7px;
  border-top: 0.5px solid LightCoral;
  font-size: 0.75em;
  font-family: arial, sans-serif;
}

nav.social, nav.footer-nav
 {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  background-color: #222;
}

nav.social {
  grid-template-columns: repeat(7,auto);
  padding: 20px 0;

}
nav.footer-nav {
  grid-template-columns: repeat(6,auto);
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  padding-bottom: 40px;
}
nav.footer-nav a {
  text-decoration: none;
  color: gray;
}
nav.footer-nav a:hover {
  color: white;
}

a.social-icon {
  display: block grid;
  border-radius: 50%;
  background-color: #444;
  height: 30px;
  width: 30px;
  position: relative;

}
.social-icon img {
  object-fit: contain;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.copyright img {
  height: 0.9em;
}
.copyright {
  background-color: #060606;
  color: lightGray;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content:  center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  height: 40px
}
.copyright a {
  color: lightGray;
}
.optional-start {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .optional-1200 {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .optional-1100 {
    display: none;
  }
  .max-1100 {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .news-grid {
    grid-template-columns:  1fr 1fr 1fr;
  }
  .funding header {
    display: grid;
    grid-template-columns: 1fr;
  }
  .funding ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
  }
  .funder-list  >*:last-child {
    display: none;
  }
  .funder-list {
    grid-template-columns:  1fr 1fr 1fr;
  }
  .big-article img, .big-article div.background{
    display:none;

  }
  header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 28px 44px 25px;
  }
  .speakers {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  header > .logo {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background: linear-gradient(
      to top left,
      Tomato,
      OrangeRed 40%,
      MediumPurple
      );
    align-items: center;
    justify-items: center;
  }
  header > .logo img {
    width: 70%;

  }



}
@media only screen and (max-width: 750px) {
  .main-articles {
    grid-template-columns:  1fr ;
    grid-template-rows: 1fr 1fr 1fr;

  }
  .big-article {
    grid-column: : 1 / 2;
    grid-row: 1 / 2;

  }
  .news-grid {
    grid-template-columns: 1fr;
  }
  .news-item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: minmax(20px, auto) auto 1fr;
    align-items: start;
  }
  .news-item img {
    height: 80px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .funding header {
  grid-template-columns: 1fr;
  }

  .funding ul {
    grid-template-columns: 1fr;
    grid-auto-flow: row;

  }
  .funding header li {
    border-left: none;

  }
  .funder-list {
    grid-template-columns: 1fr;

  }
}
